.disappear
{
    display: none;
}
.album-row 
{
    margin: auto;
    width: 50%;
}
.footer-row
{
    font-size: 10px;
    font: Serif;
    font-style: italic;
    margin: auto;
    width: 80%;
    clear: both;
}

.center-align
{
    margin:auto;
    width:50%;
}
.middle
{
    clear: both;
    position: relative;
    top:10px;
}
.del-with-pics
{
    position: relative;
    right: 10px;
}
    
/* For the top bar */
.top-container {
    height: 200px;
    position: relative;
}

/* For the logo */
.logo {
    height:100px;
}

/* For the sign-in on the right of the top bar */
.signin-align {
    position: absolute;
    bottom: 0;
    text-align: right;
    padding-right: 40px;
}

/* For the picture of the gift */
.giftpic {
    height: 350px;
}

/* Shift the text down 1cm */
.top-pad-one {
    margin-top: 1cm;
}

/* For image of item */
.itemimage {
    height: 100px
}
