{% extends "base.html" %}

{% block body %}

{% if albums %}
{% for album in albums %}
<div class='album-row'>
    <p style="display:inline"> Album Name: <b>{{ album.name }}</b></p>
    <form action="show_album" method="POST" style='display:inline'>
        <input class='disappear' name='album_id' value="{{ album.key() }}" />
        <input style="display:block; float:right" type='submit' value='  View ' /> 
    </form>
    <div class='row middle'>
        <form action="del_album" method="POST" style='display:inline; float:right'>
            <input class='disappear' name='album_id' value="{{ album.key() }}" />
            <input class='disappear' name='album_id_without_pics' />
            <input type='submit' value='Delete without delete pictures' />
        </form>
        <form action="del_album" method="POST" style='display:inline; float:right'>
            <input class='disappear' name='album_id' value="{{ album.key() }}" />
            <input class='disappear' name='album_id_with_pics'  />
            <input type='submit' class='del-with-pics' value='Delete and delete pictures' />
        </form>
    </div>
    <hr />
</div>
{% endfor %}
{% else %}
<div>
    <p>There is no created album</p>
</div>
{% endif %}

{% endblock %}
