<!DOCTYPE HTML>
<html>
    <head>
        <title>Online Album</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="../bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="../stylesheets/main.css">
        <link type="text/css" rel="stylesheet" href="../stylesheets/use.css">
        <link type="text/javascript"  href="../script/script.js">
    </head>
    <body>
        <div class="container"> 

            <!-- debug -->
            <p>{{ info }}</p>
            <!-- end of debug -->
            
            <!-- Logo part  --> 
            <!-- End of Logo part --> 

            <!-- Top navigation bar  --> 
            <div class="span12">
                <div class="navbar navbar-inverse">
                    <div class="navbar-inner">
                        <ul class="nav" style='display:block'>
                            <!-- nav_dic nav_entry -> entry active status -->
                            {% for nav_entry in nav_list %}
                            {% if nav_dic[nav_entry] == 'active' %}
                            <li class="active"><a href="{{ nav_url[nav_entry] }}">{{ nav_entry }}</a></li>
                            {% elif nav_dic[nav_entry] == 'normal' %}
                            <li><a href="{{ nav_url[nav_entry] }}">{{ nav_entry }}</a></li>
                            {% else %}
                            <li><a href="{{ nav_url[nav_entry] }}">{{ nav_entry }}</a></li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                        <ul class="nav" align='right' style='display:block; float:right; '>
                            <li><a>Online Album</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <br/>
            <!-- end of top nav bar -->

            <!-- Main function area -->
            {% block body scoped%}
            {% endblock %}
            <!-- End of Main function area -->

            <!-- footer -->
            <div class='footer-row'>
                <hr />
                <p align='center'>
                Provided by Online Album
                </p>
            </div>
            <!-- end of footer -->
        </div>
    </body>
</html>
