{% extends "base.html" %}
{% block body %}
<div class='center'>
    <table class="topTable">
        <tbody>
            <tr>
                <td  align="left" valign="top" class="pepoleContainerTd" >
                    <div class="pepoleContainer" id="pepoleContainer" >
                        <br><br>
                        <div id="slide_01" class="slideContainer" style="position:static; background-image:url(stylesheets/out.jpg)"></div>
                    </div>
                </td>
                <td align="center" valign="bottom" class="h1ContainerTd">
                    <div class="slideText">
                        <h1>
                            CREATE YOUR<br />
                            FREE STUNNING<br />
                            ALBUM
                        </h1>
                        <br />
                        <h2>Make yours!<br />Easy to customize. No coding. Google friendly.</h2>
                        <br />
                    </div>
                    <a title="Start Now" href="upload" class="slideButtonBlue"><img src="http://static.parastorage.com/services/html-landing/html/hp-new-design/hp-resources/images-v-01/start_now/hp_btn_EN.jpg"></a>
                </td>
            </tr>
        </tbody>
    </table>
    <table cellpadding="0" cellspacing="0" class="info_panelbottomBg2" >
        <tbody>
            <tr>
                <td align="left" valign="top" class="vBorder" >
                    <div class="info_panel" style="margin-left:27px;background-image:url(http://static.parastorage.com/services/html-landing/html/hp-new-design/hp-resources/images-v-01/grey_icons/icon_1.jpg);">
                        <h3>Easy. Fast. Beautiful</h3>
                        <h3 class="h3Grey" >No coding needed</h3>
                        <p>
                        Just click to edit anything and create<br />
                        your own album in minutes!
                        </p>
                    </div>
                </td>
                <td align="center" valign="top" class="vBorder" >
                    <div class="info_panel" style="background-image:url(http://static.parastorage.com/services/html-landing/html/hp-new-design/hp-resources/images-v-01/grey_icons/icon_3.jpg);">
                        <h3>100s of Stunning Designs</h3>
                        <h3 class="h3Grey">Just for you.</h3>
                        <p>
                        Whether you need a business website or<br />
                        a personal portfolio.
                        </p>
                    </div>
                </td>
                <td align="right" valign="top" class="vNoBorder"  >
                    <div class="info_panel" style="margin-right:23px;background-image:url(http://static.parastorage.com/services/html-landing/html/hp-new-design/hp-resources/images-v-01/grey_icons/icon_4.jpg);">
                        <h3>Your Album</h3>
                        <h3 class="h3Grey">Your way.</h3>
                        <p>
                        Add photos, text, backgrounds, videos<br />
                        &amp; more to create your own unique album.
                        </p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}
