{% extends 'base.html' %}

{% block body %}
<form action="{{ blobstore_upload }}" method="post" enctype="multipart/form-data" multiple>
    <p id="upload_form" align="center"><br/>
    <label>Picture:  
        <input name="picture" type="file" size="30" />
    </label>
    <input type="submit" value='Upload' />
    </p>
</form>

{% if pics %}
    <div class='row'>
    {% for pic in pics %}
        <div class='span2'>
            <form action="del_pic" method="post">
                <div class='row'>
                    <label>
                        Uploaded photo: <img class='img-polaroid' src="{{ pic }}" width='120' height='150'></img>
                    </label>
                </div>
                <div class='row'>
                    <input type="submit" value="Delete" />
                </div>
            </form>
        </div>
    {% endfor %}
    </div>
{% endif %}

{% if pics %}
    <div class='row'>
        <form action="gen" method="post">
            <label align="center">Name of Album: <input type="text" />
                <input type="submit" value="Create the Album" />
            </label>
        </form>
    </div>
{% endif %}
{% endblock %}

